# RedNodeLabs W1X board configuration

# Copyright (c) 2023 RedNodeLabs.
# SPDX-License-Identifier: Apache-2.0

if BOARD_RNL_W1X

config BOARD
	default "rnl_w1x"

config BT_CTLR
	default BT

config I2C
	default SENSOR

config SPI
	default y
	depends on IEEE802154

endif # BOARD_RNL_W1X
