/*
 * Copyright (c) 2023 RedNodeLabs.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <zephyr/dt-bindings/led/led.h>
#include <nordic/nrf52833_qiaa.dtsi>
#include "rnl_w1x-pinctrl.dtsi"

/ {
	model = "RedNodeLabs W1X";

	chosen {
		zephyr,sram           = &sram0;
		zephyr,flash          = &flash0;
		zephyr,code-partition = &slot0_partition;
	};

	leds {
		compatible = "gpio-leds";
		led0_red: led_0 {
			gpios = <&gpio0 5 GPIO_ACTIVE_LOW>;
			label = "Red LED 0";
		};
		led1_green: led_1 {
			gpios = <&gpio0 4 GPIO_ACTIVE_LOW>;
			label = "Green LED 1";
		};
		led2_blue: led_2 {
			gpios = <&gpio0 2 GPIO_ACTIVE_LOW>;
			label = "Blue LED 2";
		};
	};

	buttons {
		compatible = "gpio-keys";
		button0: button_0 {
			gpios = <&gpio0 3 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Push button switch 0";
		};
	};

	battery {
		compatible = "gpio-keys";
		battery_stat: battery_stat {
			gpios = <&gpio1 0 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Battery stat";
		};
		power_good: power_good {
			gpios = <&gpio0 6 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Power good";
		};
	};

	vbatt {
		compatible = "voltage-divider";
		io-channels = <&adc 6>;
		output-ohms = <180000>;
		full-ohms = <(1500000 + 180000)>;
		power-gpios = <&gpio0 31 0>;
	};

	/* These aliases are provided for compatibility with samples */
	aliases {
		sw0             = &button0;
		led0            = &led0_red;
		led1            = &led1_green;
		led2            = &led2_blue;
		led0-red        = &led0_red;
		led1-green      = &led1_green;
		led2-blue       = &led2_blue;
		mcuboot-button0 = &button0;
		mcuboot-led0    = &led0_red;
		watchdog0       = &wdt0;
		led-strip       = &led_strip;
		battery-stat    = &battery_stat;
		power-good      = &power_good;
	};

};

&adc {
	status = "okay";
};

&gpiote {
	status = "okay";
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&spi1 {
	compatible = "nordic,nrf-spi";
	status = "okay";
	cs-gpios = <&gpio0 22 GPIO_ACTIVE_LOW>;
	pinctrl-0 = <&spi1_default>;
	pinctrl-1 = <&spi1_sleep>;
	pinctrl-names = "default", "sleep";
};

&flash0 {

	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 0xC000>;
		};
		slot0_partition: partition@c000 {
			label = "image-0";
			reg = <0x0000C000 0x37000>;
		};
		slot1_partition: partition@43000 {
			label = "image-1";
			reg = <0x00043000 0x37000>;
		};
		storage_partition: partition@7a000 {
			label = "storage";
			reg = <0x0007A000 0x00006000>;
		};
	};
};

zephyr_udc0: &usbd {
	compatible = "nordic,nrf-usbd";
	status = "okay";
};

ws2812_spi: &spi1 { /* MOSI on P0.26 */
	compatible = "nordic,nrf-spim";
	led_strip: ws2812@0 {
		compatible = "worldsemi,ws2812-spi";

		/* SPI */
		reg = <0>; /* ignored, but necessary for SPI bindings */
		spi-max-frequency = <4000000>;

		/* WS2812 */
		chain-length = <6>;
		color-mapping = <LED_COLOR_ID_GREEN
				 LED_COLOR_ID_RED
				 LED_COLOR_ID_BLUE>;
		spi-one-frame = <0x70>;
		spi-zero-frame = <0x40>;
	};
};
