/*
 * Copyright (c) 2023 RedNodeLabs
 */

&uart0 {
	current-speed = <1000000>;
	status = "okay";
	hw-flow-control;
	interrupts = <2 4>;
	// tx-pin = <6>;
	// rx-pin = <8>;
	// rts-pin = <5>;
	// cts-pin = <7>;
};

&uart1 {
	current-speed = <1000000>;
	status = "okay";
};

/ {
	chosen {
		zephyr,entropy = &rng;
		zephyr,ot-uart = &uart0;
	};

	aliases {
		rnb-tx-led = &led0;
		rnb-rx-led = &led1;
	};
};
